<div class="doctor-container">
   <button class="back-btn" (click)="goBack()">
  ← Back
</button>
  <h2>Doctor Management</h2>

  <form (ngSubmit)="addDoctor()" class="doctor-form">
    <div>
      <label>Doctor Name:</label>
      <input type="text" [(ngModel)]="newDoctor.name" name="name" required />
    </div>

    <div>
      <label>Specialization:</label>
      <input
        type="text"
        [(ngModel)]="newDoctor.specialization"
        name="specialization"
        required
      />
    </div>

    <div>
      <label>Phone Number:</label>
      <input type="text" [(ngModel)]="newDoctor.phone" name="phone" required />
    </div>

    <div>
      <label>Consultation Fee:</label>
      <input type="number" [(ngModel)]="newDoctor.fee" name="fee" required />
    </div>

    <button type="submit">Add Doctor</button>
  </form>

  <table class="doctor-table" *ngIf="doctors.length > 0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Specialization</th>
        <th>Phone</th>
        <th>Fee</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let doc of doctors">
        <td>{{ doc.id }}</td>
        <td>{{ doc.name }}</td>
        <td>{{ doc.specialization }}</td>
        <td>{{ doc.phone }}</td>
        <td>{{ doc.fee }}</td>
        <td>
          <button (click)="deleteDoctor(doc.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
